body {
    background-color: rgb(32, 30, 30);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: yellow;
}
input {
    width: 45%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
}
h1 {
    font-size: 32px;
}

input.valid {
    background-color: green;
}
input.invalid {
    border-color: orangered;
}
input + p {
    color: orangered;
    opacity: 0;
    height: 0;
}

input.invalid + p {
    opacity: 1;
    height: auto;
    
}